<!--
We can utilize a link_to to navigate between pages as seen below.  The important thing to remember is when you use the link_to with a dynamic route, as we do with flats/:id, you must pass the dynamic element to the path.  In this case that dynamic element is the flat['id']
--->

<h1>Airbnb Flats</h1>
<ul>
  <% @flats.each do |flat| %>
    <li>
      <%= link_to flat['name'], flat_path(flat['id']) %>
      - <%= flat['price'] %> <%= flat['priceCurrency'] %>
    </li>
  <% end %>
</ul>


